.bg {
    background-color: hsl(210, 12%, 57%);
    margin: 5px;

}

header {
    margin: 5px;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0px;
    align-items: end;
    font-size: 1rem;
    font-weight: 700;
    padding: 2px;
}

header>button {
    outline: none;
    border: none;
    background-color: red;
    color: white;
    font-size: 1rem;
}

header>button:hover {
    font-size: 1.2rem;
}

.fieldset-group {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: start;
}

.fieldset-root>legend {
    font-size: 1.5em;
    margin: auto;

}

label {
    margin: 5px;
    min-width: 32.1%;
}

input {
    width: 100%;
}
.submit-btn{
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin: 5px;
}