<main>
    <header>
        <button type="button" mat-dialog-close='false' class="close-btn">X</button>

    </header>
    <div>
        <form [formGroup]="formInventory" (ngSubmit)="formSubmit()">
            <fieldset class="fieldset-root">
                <legend>Create Stock</legend>

                <div class="bg">
                    <fieldset class="fieldset-group">
                        <legend>Stock details</legend>

                        <label for="inventoryItemsParticular" id="label-stockName">
                            Stock Description:

                            <span *ngIf="formInventory.get('iiParticular')?.invalid" class="error-message">
                                {{ getErrorMessageItemNames('iiParticular') }}
                              </span>
                            <input class="boarder-bottom boarder-roun" id="inventoryItemsParticular" name="iiParticular"
                                type="text" formControlName="iiParticular" />
                        </label>


                        <label for="inventoryItemsHsn">HSN:
                            <input class="boarder-bottom boarder-roun" id="inventoryItemsHsn" name="igName" type="text"
                                formControlName="iiHsn" /></label>


                        <label for="inventoryItemsModelNo">Model No:
                            <input class="boarder-bottom boarder-roun" id="inventoryItemsModelNo" name="iiModelNo"
                                type="text" formControlName="iiModelNo" /></label>



                        <label for="inventoryItemsQty">Quantity:
                            <span *ngIf="formInventory.get('iiQty')?.invalid" class="error-message">
                                {{ getErrorMessageQty('iiQty') }}
                            </span>
                            <input class="boarder-bottom boarder-roun" id="inventoryItemsQty" name="inventoryItemsQty"
                                type="number" formControlName="iiQty" required value="0" [readOnly]="true" /></label>

                        <div style="display: flex;flex-direction: column;margin: 5px;
                        min-width: 32.1%;">
                            <div>
                                <label for="itemUnit" id="label-unit">Select Unit:
                                    <span *ngIf="formInventory.get('iiUnitName')?.invalid" class="error-message">
                                        {{ getErrorMessageSelectUnit('iiUnitName') }}
                                    </span>
                                </label>
                            </div>
                            <div>
                                <select id="itemUnit" name="iiUnitName" formControlName="iiUnitName"
                                    style="min-width: 100%;height: 22px;">
                                    <option value="default">--</option>
                                    <option value="Pcs">Pcs</option>
                                </select>
                            </div>
                            <!-- <span *ngIf="unitValidator()"></span> -->
                        </div>



                    </fieldset>
                </div>

                <div class="bg">
                    <fieldset class="fieldset-group">
                        <legend>Trading Details</legend>
                        <label for="inventoryItemsMrp" id="label-mrp">MRP:
                            <span *ngIf="formInventory.get('iiMrp')?.invalid" class="error-message">
                                {{ getErrorMessageMrp('iiMrp') }}
                            </span>
                            <input class="boarder-bottom boarder-roun" id="inventoryItemsMrp" name="inventoryItemsMrp"
                                type="number" formControlName="iiMrp" required value="0.0" />
                        </label>

                        <label for="inventoryItemsPurchaseAmount" id="label-purchasePrice">P-Price:
                            <span *ngIf="formInventory.get('iiPurchaseAmount')?.invalid" class="error-message">
                                {{ getErrorMessagePurchase('iiPurchaseAmount') }}
                            </span>
                            <input class="boarder-bottom boarder-roun" id="inventoryItemsPurchaseAmount"
                                name="inventoryItemsPurchaseAmount" type="number" formControlName="iiPurchaseAmount"
                                required value="0.0" /></label>



                        <label for="inventoryItemsSalesAmount" id="label-salesPrice">S-Price:
                            <span *ngIf="formInventory.get('iiSalesAmount')?.invalid" class="error-message">
                                {{ getErrorMessageSales('iiSalesAmount') }}
                            </span>
                            <input class="boarder-bottom boarder-roun" id="inventoryItemsSalesAmount"
                                name="inventoryItemsSalesAmount" type="number" formControlName="iiSalesAmount" required
                                value="0.0" /></label>
                        <label for="inventoryItemsCgstPercent" id="label-cgst">
                            CGST:
                            <span *ngIf="formInventory.get('iiCgstPercent')?.invalid" class="error-message">
                                {{ getErrorMessageCGST('iiCgstPercent') }}
                            </span>
                            <input class="boarder-bottom boarder-roun" id="inventoryItemsCgstPercent"
                                name="inventoryItemsCgstPercent" type="number" formControlName="iiCgstPercent" required
                                placeholder="18%" /></label>
           



                        <label for="inventoryItemsSgstPercent" id="label-sgst">SGST:
                            <span *ngIf="formInventory.get('iiSgstPercent')?.invalid" class="error-message">
                                    {{ getErrorMessageSGST('iiSgstPercent') }}
                            </span>
                            <input class="boarder-bottom boarder-roun" id="inventoryItemsSgstPercent"
                                name="inventoryItemsSgstPercent" type="number" formControlName="iiSgstPercent" required
                                placeholder="18%" /></label>


                        <label for="inventoryItemsIgstPercent" id="label-igst">
                            IGST:
                            <span *ngIf="formInventory.get('iiIgstPercent')?.invalid" class="error-message">
                                {{ getErrorMessageIGST('iiIgstPercent') }}
                            </span>
                            <input class="boarder-bottom boarder-roun" id="inventoryItemsIgstPercent"
                                name="inventoryItemsIgstPercent" type="number" formControlName="iiIgstPercent" required
                                placeholder="18%" /></label>


                        <label for="inventoryItemsTDPercent" id="label-td">Trade Discount
                            Percent:
                            <span *ngIf="formInventory.get('iiTDPercent')?.invalid" class="error-message">
                                {{ getErrorMessageTradeDiscount('iiTDPercent') }}
                            </span>
                            <input class="boarder-bottom boarder-roun" id="inventoryItemsTDPercent"
                                name="inventoryItemsTDPercent" type="number" formControlName="iiTDPercent" required
                                placeholder="18%" /></label>
                        <!-- <span *ngIf="tdDiscountValidator()"></span> -->


                    </fieldset>
                </div>

                <div class="bg">
                    <fieldset class="fieldset-group">
                        <legend>Stock Group Details</legend>
                        <div class="stock-group-flex">
                            <div> <label for="inventoryGroupName" id="label-group">Select
                                    Stock Group:
                                    <span *ngIf="formInventory.get('igName')?.invalid" class="error-message">
                                        {{ getErrorMessageSelectIgroup('igName') }}
                                    </span>
                                </label></div>
                            <div class="stock-roup">
                                <div class="div-select">
                                    <select id="inventoryGroupName" name="inventoryGroupName" formControlName="igName">
                                        <option value="default">--</option>
                                        <option *ngFor="let list of itemGroup; let i = index" value={{list.igName}}>
                                            {{list.igName}}
                                        </option>
                                    </select>
                                </div>
                                <div class="div-btn">
                                    <button type="button" (click)="openDialogCreateitemsGroup()">Create</button>
                                </div>
                            </div>
                            <!-- <span *ngIf="stockGroupValidator()"></span> -->
                        </div>

                        <div class="stock-group-flex">
                            <div><label for="inventoryLocationName" id="label-location">
                                    Select Store Location:
                                    <span *ngIf="formInventory.get('ilName')?.invalid" class="error-message">
                                        {{ getErrorMessageSelectIlocation('ilName') }}
                                    </span>
                                </label>

                            </div>
                            <div class="stock-roup">
                                <div class="div-select">
                                    <select id="inventoryLocationName" name="inventoryLocationName"
                                        formControlName="ilName">
                                        <option value="default">--</option>
                                        <option *ngFor="let list of itemGroupLocation; let i = index"
                                            value={{list.ilName}}>
                                            {{list.ilName}}
                                        </option>
                                    </select>
                                </div>

                                <div class="div-btn">
                                    <button type="button" (click)="openDialogCreateitemsGroupLocation()">Create</button>
                                </div>
                            </div>
                            <!-- <span *ngIf="locationValidator()"></span> -->

                        </div>


                    </fieldset>
                </div>


                <div class="bg">
                    <fieldset class="fieldset-group">
                        <legend>Warranty & Service Details</legend>

                        <label for="iiMonthOfWarranty" id="label-warranty"> 
                            Select
                            Month Of Warranty:
                            <span *ngIf="formInventory.get('iiMonthOfWarranty')?.invalid" class="error-message">
                                {{ getErrorMessageWarranty('iiMonthOfWarranty') }}
                            </span>
                            <input type="number" id="iiMonthOfWarranty" name="iiMonthOfWarranty"
                                formControlName="iiMonthOfWarranty" min="0" max="100"></label>
                        <!-- <span *ngIf="warrantyValidator()"></span> -->

                        <label for="iiNoOfService" id="label-service">
                            Select No. Of Free
                            Service:
                            <span *ngIf="formInventory.get('iiNoOfService')?.invalid" class="error-message">
                                {{ getErrorMessageMonthOfService('iiNoOfService') }}
                            </span>
                            <input type="number" id="iiNoOfService" name="iiNoOfService" formControlName="iiNoOfService"
                                min="0" max="100"></label>
                        <!-- <span *ngIf="serviceValidator()"></span> -->
                    </fieldset>
                    <div class="submit-btn">
                        <button type="button" (click)="formSubmit()">Create</button>
                    </div><br><br>
                </div>


            </fieldset>
        </form>
    </div>
</main>